body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 50px 20px; 
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 15px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 24px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 15px 30px;
    background-color: #04786b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0fac9a;
}

p {
    text-align: center;
    margin-top: 30px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
